@media (max-width: 1024px) {
    .title {
        font-size: 18px;
        font-weight: 500;
    }

    .input-btn {
        font-size: 14px;
        font-weight: 700;
    }

    .text {
        font-size: 14px;
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .title {
        margin: 10px;
    }

    .text {
        margin: 10px;
    }
}

@media (max-width: 348px) {
    .input-btn {
        margin: 10px;
        line-height: 1.5;
    }
}


